<html>
  <head/>
  <body>
    <h1>Google Page Speed Report</h1>
    <h2>Overview</h2>
    <table>
      <tr>
        <th>URL</th>
        <th>Desktop Score</th>
        <th>Mobile Score</th>
      </tr>
      <tr>
        <td>https://www.contentcook.at/</td>
        <td>91 %</td>
        <td>78 %</td>
      </tr>
      <tr>
        <td>https://www.contentcook.at/google-adwords/</td>
        <td>85 %</td>
        <td>85 %</td>
      </tr>
    </table>
    <h2>Details</h2>
    <h3>https://www.contentcook.at/</h3>
    <p>{"mobile": {"pageStats": {"otherResponseBytes": "133804", "numberHosts": 15, "cssResponseBytes": "161380", "htmlResponseBytes": "110188", "imageResponseBytes": "292588", "overTheWireResponseBytes": "886733", "javascriptResponseBytes": "1316245", "numTotalRoundTrips": 22, "numberJsResources": 18, "numRenderBlockingRoundTrips": 5, "totalRequestBytes": "7086", "numberStaticResources": 34, "numberResources": 49, "numberCssResources": 6}, "title": "AdWords-Agentur in Wien | Content Cook", "responseCode": 200, "kind": "pagespeedonline#result", "id": "https://www.contentcook.at/", "formattedResults": {"ruleResults": {"LeverageBrowserCaching": {"localizedRuleName": "Leverage browser caching", "urlBlocks": [{"header": {"format": "{{BEGIN_LINK}}Leverage browser caching{{END_LINK}} for the following cacheable resources:", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/LeverageBrowserCaching"}]}, "urls": [{"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://static.hotjar.com/c/hotjar-1.js?sv=5"}, {"key": "LIFETIME", "type": "DURATION", "value": "60 seconds"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.googletagmanager.com/gtm.js?id=GTM-KP3L5X"}, {"key": "LIFETIME", "type": "DURATION", "value": "15 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/api.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/googleapis.proxy.js?onload=startup"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/platform.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/rpc:shindig_random.js?onload=init"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.google-analytics.com/analytics.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "2 hours"}]}}]}], "ruleImpact": 1.0, "summary": {"format": "Setting an expiry date or a maximum age in the HTTP headers for static resources instructs the browser to load previously downloaded resources from local disk rather than over the network."}, "groups": ["SPEED"]}, "MainResourceServerResponseTime": {"localizedRuleName": "Reduce server response time", "ruleImpact": 0.0, "summary": {"format": "Your server responded quickly. Learn more about {{BEGIN_LINK}}server response time optimization{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/Server"}]}, "groups": ["SPEED"]}, "SizeContentToViewport": {"localizedRuleName": "Size content to viewport", "ruleImpact": 0.0, "summary": {"format": "The contents of your page fit within the viewport. Learn more about {{BEGIN_LINK}}sizing content to the viewport{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/SizeContentToViewport"}]}, "groups": ["USABILITY"]}, "AvoidPlugins": {"localizedRuleName": "Avoid plugins", "ruleImpact": 0.0, "summary": {"format": "Your page does not appear to use plugins, which would prevent content from being usable on many platforms. Learn more about the importance of {{BEGIN_LINK}}avoiding plugins{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/AvoidPlugins"}]}, "groups": ["USABILITY"]}, "MinifyHTML": {"localizedRuleName": "Minify HTML", "ruleImpact": 0.0, "summary": {"format": "Your HTML is minified. Learn more about {{BEGIN_LINK}}minifying HTML{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "SizeTapTargetsAppropriately": {"localizedRuleName": "Size tap targets appropriately", "urlBlocks": [{"header": {"format": "The following tap targets are close to other nearby tap targets and may need additional spacing around them."}, "urls": [{"result": {"format": "The tap target {{HTML_TEXT}} is close to {{NUM_TOO_CLOSE}} other tap targets.", "args": [{"key": "HTML_TEXT", "type": "STRING_LITERAL", "value": "<a href="\&quot;https://www.co…oogle-adwords/\&quot;">messbarem Erfolg.</a>"}, {"key": "NUM_TOO_CLOSE", "type": "INT_LITERAL", "value": "1"}]}}, {"result": {"format": "The tap target {{HTML_TEXT}} and {{NUM_OTHERS}} others are close to other tap targets.", "args": [{"key": "HTML_TEXT", "type": "STRING_LITERAL", "value": "<a href="\&quot;tel.+436508434872\&quot;">+43 650 843 48 72</a>"}, {"key": "NUM_OTHERS", "type": "INT_LITERAL", "value": "2"}]}}]}], "ruleImpact": 0.0, "summary": {"format": "Some of the links/buttons on your webpage may be too small for a user to easily tap on a touchscreen. Consider {{BEGIN_LINK}}making these tap targets larger{{END_LINK}} to provide a better user experience.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately"}]}, "groups": ["USABILITY"]}, "MinifyCss": {"localizedRuleName": "Minify CSS", "ruleImpact": 0.0, "summary": {"format": "Your CSS is minified. Learn more about {{BEGIN_LINK}}minifying CSS{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "PrioritizeVisibleContent": {"localizedRuleName": "Prioritize visible content", "urlBlocks": [{"header": {"format": "The entire HTML response was not sufficient to render the above-the-fold content. This usually indicates that additional resources, loaded after HTML parsing, were required to render above-the-fold content. {{BEGIN_LINK}}Prioritize visible content{{END_LINK}} that is needed for rendering above-the-fold by including it directly in the HTML response.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/PrioritizeVisibleContent"}]}, "urls": [{"result": {"format": "Only about {{PERCENTAGE}} of the final above-the-fold content could be rendered with the full HTML response {{SCREENSHOT}}.", "args": [{"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "55%"}, {"key": "SCREENSHOT", "type": "SNAPSHOT_RECT", "value": "snapshot:6"}]}}]}], "ruleImpact": 4.0, "summary": {"format": "Your page requires additional network round trips to render the above-the-fold content. For best performance, reduce the amount of HTML needed to render above-the-fold content."}, "groups": ["SPEED"]}, "AvoidLandingPageRedirects": {"localizedRuleName": "Avoid landing page redirects", "ruleImpact": 0.0, "summary": {"format": "Your page has no redirects. Learn more about {{BEGIN_LINK}}avoiding landing page redirects{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/AvoidRedirects"}]}, "groups": ["SPEED"]}, "ConfigureViewport": {"localizedRuleName": "Configure the viewport", "ruleImpact": 0.0, "summary": {"format": "Your page specifies a viewport matching the device's size, which allows it to render properly on all devices. Learn more about {{BEGIN_LINK}}configuring viewports{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/ConfigureViewport"}]}, "groups": ["USABILITY"]}, "UseLegibleFontSizes": {"localizedRuleName": "Use legible font sizes", "ruleImpact": 0.0, "summary": {"format": "The text on your page is legible. Learn more about {{BEGIN_LINK}}using legible font sizes{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/UseLegibleFontSizes"}]}, "groups": ["USABILITY"]}, "MinimizeRenderBlockingResources": {"localizedRuleName": "Eliminate render-blocking JavaScript and CSS in above-the-fold content", "urlBlocks": [{"header": {"format": "Approximately {{PERCENTAGE}} of the above-the-fold content on your page could be rendered without waiting for the following resources to load. Try to defer or asynchronously load blocking resources, or inline the critical portions of those resources directly in the HTML.", "args": [{"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "39%"}]}}, {"header": {"format": "{{BEGIN_LINK}}Optimize CSS Delivery{{END_LINK}} of the following:", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery"}]}, "urls": [{"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css?ver=3.3.5"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://fonts.googleapis.com/css?family=Signika%3A400%2C300%2C600&amp;ver=4.9.2"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?ver=4.5.0"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://fonts.googleapis.com/css?family=Open+Sans&amp;ver=4.9.2"}]}}]}], "ruleImpact": 18.0, "summary": {"format": "Your page has {{NUM_CSS}} blocking CSS resources. This causes a delay in rendering your page.", "args": [{"key": "NUM_CSS", "type": "INT_LITERAL", "value": "4"}]}, "groups": ["SPEED"]}, "EnableGzipCompression": {"localizedRuleName": "Enable compression", "ruleImpact": 0.0, "summary": {"format": "You have compression enabled. Learn more about {{BEGIN_LINK}}enabling compression{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/EnableCompression"}]}, "groups": ["SPEED"]}, "OptimizeImages": {"localizedRuleName": "Optimize images", "ruleImpact": 0.0, "summary": {"format": "Your images are optimized. Learn more about {{BEGIN_LINK}}optimizing images{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/OptimizeImages"}]}, "groups": ["SPEED"]}, "MinifyJavaScript": {"localizedRuleName": "Minify JavaScript", "ruleImpact": 0.0, "summary": {"format": "Your JavaScript content is minified. Learn more about {{BEGIN_LINK}}minifying JavaScript{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}}, "locale": "en_US"}, "version": {"minor": 15, "major": 1}, "captchaResult": "CAPTCHA_NOT_NEEDED", "ruleGroups": {"SPEED": {"score": 78}}}, "desktop": {"pageStats": {"otherResponseBytes": "223224", "numberHosts": 16, "cssResponseBytes": "161191", "htmlResponseBytes": "110191", "imageResponseBytes": "292588", "overTheWireResponseBytes": "982446", "javascriptResponseBytes": "1316621", "numTotalRoundTrips": 26, "numberJsResources": 19, "numRenderBlockingRoundTrips": 0, "totalRequestBytes": "7229", "numberStaticResources": 34, "numberResources": 51, "numberCssResources": 6}, "title": "AdWords-Agentur in Wien | Content Cook", "responseCode": 200, "kind": "pagespeedonline#result", "id": "https://www.contentcook.at/", "formattedResults": {"ruleResults": {"LeverageBrowserCaching": {"localizedRuleName": "Leverage browser caching", "urlBlocks": [{"header": {"format": "{{BEGIN_LINK}}Leverage browser caching{{END_LINK}} for the following cacheable resources:", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/LeverageBrowserCaching"}]}, "urls": [{"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://static.hotjar.com/c/hotjar-1.js?sv=5"}, {"key": "LIFETIME", "type": "DURATION", "value": "60 seconds"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.googletagmanager.com/gtm.js?id=GTM-KP3L5X"}, {"key": "LIFETIME", "type": "DURATION", "value": "15 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/api.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/googleapis.proxy.js?onload=startup"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/platform.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/rpc:shindig_random.js?onload=init"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.google-analytics.com/analytics.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "2 hours"}]}}]}], "ruleImpact": 3.322222222222222, "summary": {"format": "Setting an expiry date or a maximum age in the HTTP headers for static resources instructs the browser to load previously downloaded resources from local disk rather than over the network."}, "groups": ["SPEED"]}, "EnableGzipCompression": {"localizedRuleName": "Enable compression", "ruleImpact": 0.0, "summary": {"format": "You have compression enabled. Learn more about {{BEGIN_LINK}}enabling compression{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/EnableCompression"}]}, "groups": ["SPEED"]}, "MinifyHTML": {"localizedRuleName": "Minify HTML", "ruleImpact": 0.0, "summary": {"format": "Your HTML is minified. Learn more about {{BEGIN_LINK}}minifying HTML{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "MainResourceServerResponseTime": {"localizedRuleName": "Reduce server response time", "ruleImpact": 0.0, "summary": {"format": "Your server responded quickly. Learn more about {{BEGIN_LINK}}server response time optimization{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/Server"}]}, "groups": ["SPEED"]}, "OptimizeImages": {"localizedRuleName": "Optimize images", "urlBlocks": [{"header": {"format": "{{BEGIN_LINK}}Optimize the following images{{END_LINK}} to reduce their size by {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/OptimizeImages"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "47KiB"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "20%"}]}, "urls": [{"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://www.contentcook.at/wp-content/uploads/2017/10/03_google_adwords_agentur_wien_postprocessed_80.jpg"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "17.9KiB"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "18%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://www.contentcook.at/wp-content/uploads/2017/10/02_SuchmaschinenMarketing_wien_postprocessed_80.jpg"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "15.2KiB"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "23%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://www.contentcook.at/wp-content/uploads/2017/10/01re_google-adwords_Wien_postprocessed_80.jpg"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "13.9KiB"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "21%"}]}}]}], "ruleImpact": 4.809100000000001, "summary": {"format": "Properly formatting and compressing images can save many bytes of data."}, "groups": ["SPEED"]}, "AvoidLandingPageRedirects": {"localizedRuleName": "Avoid landing page redirects", "ruleImpact": 0.0, "summary": {"format": "Your page has no redirects. Learn more about {{BEGIN_LINK}}avoiding landing page redirects{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/AvoidRedirects"}]}, "groups": ["SPEED"]}, "MinimizeRenderBlockingResources": {"localizedRuleName": "Eliminate render-blocking JavaScript and CSS in above-the-fold content", "ruleImpact": 0.0, "summary": {"format": "You have no render-blocking resources. Learn more about {{BEGIN_LINK}}removing render-blocking resources{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/BlockingJS"}]}, "groups": ["SPEED"]}, "PrioritizeVisibleContent": {"localizedRuleName": "Prioritize visible content", "ruleImpact": 0.0, "summary": {"format": "You have the above-the-fold content properly prioritized. Learn more about {{BEGIN_LINK}}prioritizing visible content{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/PrioritizeVisibleContent"}]}, "groups": ["SPEED"]}, "MinifyJavaScript": {"localizedRuleName": "Minify JavaScript", "ruleImpact": 0.0, "summary": {"format": "Your JavaScript content is minified. Learn more about {{BEGIN_LINK}}minifying JavaScript{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "MinifyCss": {"localizedRuleName": "Minify CSS", "ruleImpact": 0.0, "summary": {"format": "Your CSS is minified. Learn more about {{BEGIN_LINK}}minifying CSS{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}}, "locale": "en_US"}, "version": {"minor": 15, "major": 1}, "captchaResult": "CAPTCHA_NOT_NEEDED", "ruleGroups": {"SPEED": {"score": 91}}}}</p>
    <h3>https://www.contentcook.at/google-adwords/</h3>
    <p>{"mobile": {"pageStats": {"otherResponseBytes": "134463", "numberHosts": 23, "cssResponseBytes": "340801", "htmlResponseBytes": "739806", "imageResponseBytes": "838313", "overTheWireResponseBytes": "3502188", "javascriptResponseBytes": "2931698", "numTotalRoundTrips": 22, "numberJsResources": 34, "numRenderBlockingRoundTrips": 5, "totalRequestBytes": "13835", "numberStaticResources": 78, "numberResources": 100, "numberCssResources": 10}, "title": "Google AdWords - mehr Umsatz und Reichweite | AdWords-Agentur in Wien | Content Cook", "responseCode": 200, "kind": "pagespeedonline#result", "id": "https://www.contentcook.at/google-adwords/", "formattedResults": {"ruleResults": {"LeverageBrowserCaching": {"localizedRuleName": "Leverage browser caching", "urlBlocks": [{"header": {"format": "{{BEGIN_LINK}}Leverage browser caching{{END_LINK}} for the following cacheable resources:", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/LeverageBrowserCaching"}]}, "urls": [{"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://static.hotjar.com/c/hotjar-1.js?sv=5"}, {"key": "LIFETIME", "type": "DURATION", "value": "60 seconds"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://cdn.syndication.twimg.com/widgets/timelines/290170230347546624?callback=__twttr.callbacks.tl_i0_290170230347546624_old&amp;dnt=true&amp;domain=www.contentcook.at&amp;lang=de&amp;suppress_response_codes=true&amp;t=1684767&amp;tz=GMT-0800"}, {"key": "LIFETIME", "type": "DURATION", "value": "5 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://syndication.twitter.com/settings"}, {"key": "LIFETIME", "type": "DURATION", "value": "10 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.googletagmanager.com/gtm.js?id=GTM-KP3L5X"}, {"key": "LIFETIME", "type": "DURATION", "value": "15 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/api.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/googleapis.proxy.js?onload=startup"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/platform.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/rpc:shindig_random.js?onload=init"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://platform.twitter.com/widgets.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.google-analytics.com/analytics.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "2 hours"}]}}]}], "ruleImpact": 1.0, "summary": {"format": "Setting an expiry date or a maximum age in the HTTP headers for static resources instructs the browser to load previously downloaded resources from local disk rather than over the network."}, "groups": ["SPEED"]}, "MainResourceServerResponseTime": {"localizedRuleName": "Reduce server response time", "ruleImpact": 0.0, "summary": {"format": "Your server responded quickly. Learn more about {{BEGIN_LINK}}server response time optimization{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/Server"}]}, "groups": ["SPEED"]}, "SizeContentToViewport": {"localizedRuleName": "Size content to viewport", "ruleImpact": 0.0, "summary": {"format": "The contents of your page fit within the viewport. Learn more about {{BEGIN_LINK}}sizing content to the viewport{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/SizeContentToViewport"}]}, "groups": ["USABILITY"]}, "AvoidPlugins": {"localizedRuleName": "Avoid plugins", "ruleImpact": 0.0, "summary": {"format": "Your page does not appear to use plugins, which would prevent content from being usable on many platforms. Learn more about the importance of {{BEGIN_LINK}}avoiding plugins{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/AvoidPlugins"}]}, "groups": ["USABILITY"]}, "MinifyHTML": {"localizedRuleName": "Minify HTML", "ruleImpact": 0.0, "summary": {"format": "Your HTML is minified. Learn more about {{BEGIN_LINK}}minifying HTML{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "SizeTapTargetsAppropriately": {"localizedRuleName": "Size tap targets appropriately", "urlBlocks": [{"header": {"format": "The following tap targets are close to other nearby tap targets and may need additional spacing around them."}, "urls": [{"result": {"format": "The tap target {{HTML_TEXT}} and {{NUM_OTHERS}} others are close to other tap targets.", "args": [{"key": "HTML_TEXT", "type": "STRING_LITERAL", "value": "<a href="\&quot;#1\&quot;">"}, {"key": "NUM_OTHERS", "type": "INT_LITERAL", "value": "4"}]}}, {"result": {"format": "The tap target {{HTML_TEXT}} is close to {{NUM_TOO_CLOSE}} other tap targets.", "args": [{"key": "HTML_TEXT", "type": "STRING_LITERAL", "value": "</a><a href="\&quot;https://twitte…om/ContentCook\&quot;" class="\&quot;TweetAuthor-li…ty" u-linkblend="">Tania Kocher…@ContentCook</a>"}, {"key": "NUM_TOO_CLOSE", "type": "INT_LITERAL", "value": "1"}]}}, {"result": {"format": "The tap target {{HTML_TEXT}} and {{NUM_OTHERS}} others are close to other tap targets.", "args": [{"key": "HTML_TEXT", "type": "STRING_LITERAL", "value": "<a href="\&quot;https://twitte…ebook?src=hash\&quot;" class="\&quot;PrettyLink" has="" customisable="">#Facebook</a>"}, {"key": "NUM_OTHERS", "type": "INT_LITERAL", "value": "1"}]}}, {"result": {"format": "The tap target {{HTML_TEXT}} and {{NUM_OTHERS}} others are close to other tap targets.", "args": [{"key": "HTML_TEXT", "type": "STRING_LITERAL", "value": "<a href="\&quot;tel.+436508434872\&quot;">+43 650 843 48 72</a>"}, {"key": "NUM_OTHERS", "type": "INT_LITERAL", "value": "2"}]}}]}], "ruleImpact": 0.0, "summary": {"format": "Some of the links/buttons on your webpage may be too small for a user to easily tap on a touchscreen. Consider {{BEGIN_LINK}}making these tap targets larger{{END_LINK}} to provide a better user experience.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately"}]}, "groups": ["USABILITY"]}, "MinifyCss": {"localizedRuleName": "Minify CSS", "ruleImpact": 0.0, "summary": {"format": "Your CSS is minified. Learn more about {{BEGIN_LINK}}minifying CSS{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "PrioritizeVisibleContent": {"localizedRuleName": "Prioritize visible content", "ruleImpact": 0.0, "summary": {"format": "You have the above-the-fold content properly prioritized. Learn more about {{BEGIN_LINK}}prioritizing visible content{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/PrioritizeVisibleContent"}]}, "groups": ["SPEED"]}, "AvoidLandingPageRedirects": {"localizedRuleName": "Avoid landing page redirects", "ruleImpact": 0.0, "summary": {"format": "Your page has no redirects. Learn more about {{BEGIN_LINK}}avoiding landing page redirects{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/AvoidRedirects"}]}, "groups": ["SPEED"]}, "ConfigureViewport": {"localizedRuleName": "Configure the viewport", "ruleImpact": 0.0, "summary": {"format": "Your page specifies a viewport matching the device's size, which allows it to render properly on all devices. Learn more about {{BEGIN_LINK}}configuring viewports{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/ConfigureViewport"}]}, "groups": ["USABILITY"]}, "UseLegibleFontSizes": {"localizedRuleName": "Use legible font sizes", "ruleImpact": 0.0, "summary": {"format": "The text on your page is legible. Learn more about {{BEGIN_LINK}}using legible font sizes{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/UseLegibleFontSizes"}]}, "groups": ["USABILITY"]}, "MinimizeRenderBlockingResources": {"localizedRuleName": "Eliminate render-blocking JavaScript and CSS in above-the-fold content", "urlBlocks": [{"header": {"format": "Approximately {{PERCENTAGE}} of the above-the-fold content on your page could be rendered without waiting for the following resources to load. Try to defer or asynchronously load blocking resources, or inline the critical portions of those resources directly in the HTML.", "args": [{"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "7%"}]}}, {"header": {"format": "{{BEGIN_LINK}}Optimize CSS Delivery{{END_LINK}} of the following:", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery"}]}, "urls": [{"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css?ver=3.3.5"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://fonts.googleapis.com/css?family=Signika%3A400%2C300%2C600&amp;ver=4.9.2"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?ver=4.5.0"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://fonts.googleapis.com/css?family=Open+Sans&amp;ver=4.9.2"}]}}]}], "ruleImpact": 15.0, "summary": {"format": "Your page has {{NUM_CSS}} blocking CSS resources. This causes a delay in rendering your page.", "args": [{"key": "NUM_CSS", "type": "INT_LITERAL", "value": "4"}]}, "groups": ["SPEED"]}, "EnableGzipCompression": {"localizedRuleName": "Enable compression", "ruleImpact": 0.0, "summary": {"format": "You have compression enabled. Learn more about {{BEGIN_LINK}}enabling compression{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/EnableCompression"}]}, "groups": ["SPEED"]}, "OptimizeImages": {"localizedRuleName": "Optimize images", "ruleImpact": 0.0, "summary": {"format": "Your images are optimized. Learn more about {{BEGIN_LINK}}optimizing images{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/OptimizeImages"}]}, "groups": ["SPEED"]}, "MinifyJavaScript": {"localizedRuleName": "Minify JavaScript", "ruleImpact": 0.0, "summary": {"format": "Your JavaScript content is minified. Learn more about {{BEGIN_LINK}}minifying JavaScript{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}}, "locale": "en_US"}, "version": {"minor": 15, "major": 1}, "captchaResult": "CAPTCHA_NOT_NEEDED", "ruleGroups": {"SPEED": {"score": 85}}}, "desktop": {"pageStats": {"otherResponseBytes": "223884", "numberHosts": 24, "cssResponseBytes": "340739", "htmlResponseBytes": "739286", "imageResponseBytes": "371042", "overTheWireResponseBytes": "3129395", "javascriptResponseBytes": "2931359", "numTotalRoundTrips": 26, "numberJsResources": 35, "numRenderBlockingRoundTrips": 5, "totalRequestBytes": "13992", "numberStaticResources": 78, "numberResources": 102, "numberCssResources": 10}, "title": "Google AdWords - mehr Umsatz und Reichweite | AdWords-Agentur in Wien | Content Cook", "responseCode": 200, "kind": "pagespeedonline#result", "id": "https://www.contentcook.at/google-adwords/", "formattedResults": {"ruleResults": {"LeverageBrowserCaching": {"localizedRuleName": "Leverage browser caching", "urlBlocks": [{"header": {"format": "{{BEGIN_LINK}}Leverage browser caching{{END_LINK}} for the following cacheable resources:", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/LeverageBrowserCaching"}]}, "urls": [{"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://static.hotjar.com/c/hotjar-1.js?sv=5"}, {"key": "LIFETIME", "type": "DURATION", "value": "60 seconds"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://cdn.syndication.twimg.com/widgets/timelines/290170230347546624?callback=__twttr.callbacks.tl_i0_290170230347546624_old&amp;dnt=true&amp;domain=www.contentcook.at&amp;lang=de&amp;suppress_response_codes=true&amp;t=1684767&amp;tz=GMT-0800"}, {"key": "LIFETIME", "type": "DURATION", "value": "5 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://syndication.twitter.com/settings"}, {"key": "LIFETIME", "type": "DURATION", "value": "10 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.googletagmanager.com/gtm.js?id=GTM-KP3L5X"}, {"key": "LIFETIME", "type": "DURATION", "value": "15 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/api.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/googleapis.proxy.js?onload=startup"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/platform.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://apis.google.com/js/rpc:shindig_random.js?onload=init"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://platform.twitter.com/widgets.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "30 minutes"}]}}, {"result": {"format": "{{URL}} ({{LIFETIME}})", "args": [{"key": "URL", "type": "URL", "value": "https://www.google-analytics.com/analytics.js"}, {"key": "LIFETIME", "type": "DURATION", "value": "2 hours"}]}}]}], "ruleImpact": 4.790972222222223, "summary": {"format": "Setting an expiry date or a maximum age in the HTTP headers for static resources instructs the browser to load previously downloaded resources from local disk rather than over the network."}, "groups": ["SPEED"]}, "EnableGzipCompression": {"localizedRuleName": "Enable compression", "ruleImpact": 0.0, "summary": {"format": "You have compression enabled. Learn more about {{BEGIN_LINK}}enabling compression{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/EnableCompression"}]}, "groups": ["SPEED"]}, "MinifyHTML": {"localizedRuleName": "Minify HTML", "ruleImpact": 0.0, "summary": {"format": "Your HTML is minified. Learn more about {{BEGIN_LINK}}minifying HTML{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "MainResourceServerResponseTime": {"localizedRuleName": "Reduce server response time", "ruleImpact": 0.0, "summary": {"format": "Your server responded quickly. Learn more about {{BEGIN_LINK}}server response time optimization{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/Server"}]}, "groups": ["SPEED"]}, "OptimizeImages": {"localizedRuleName": "Optimize images", "urlBlocks": [{"header": {"format": "{{BEGIN_LINK}}Optimize the following images{{END_LINK}} to reduce their size by {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/OptimizeImages"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "4.3KiB"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "31%"}]}, "urls": [{"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://pbs.twimg.com/profile_images/773477172942168065/jUHE2z3n_normal.jpg"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "986B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "59%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/p50x50/10521461_10152819376641170_6629001729793292981_n.jpg?oh=f020e25aa3ddee9764992f780b800e3b&amp;oe=5AEE5951"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "530B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "30%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/p50x50/12316185_10205465906590227_871056178778330144_n.jpg?oh=323fb261398d6deedba7acfea88b6eff&amp;oe=5AE61F37"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "435B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "26%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/p50x50/24774881_10213901275993249_7205629516973440316_n.jpg?oh=622f1b601b6ceaff02e5b70f73b9a553&amp;oe=5AFE819D"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "431B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "26%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/p50x50/13315488_10209336329514296_1368230256015810803_n.jpg?oh=249b4ea70fd3b651f681b6540d46a39d&amp;oe=5ADA6870"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "422B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "30%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/p50x50/941001_900635426693214_4835128675470263425_n.jpg?oh=33168151fbbec71f3b584cfc62cafca5&amp;oe=5AD9A9B1"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "411B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "27%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/p50x50/20915165_2033563146872968_6209450617271086654_n.jpg?oh=779a2da8ca58a340c5979b57016025b4&amp;oe=5AFA59A0"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "402B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "27%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/c170.50.621.621/s50x50/409485_215450655220200_191609302_n.jpg?oh=57d97d52c15399eafbe5a99ef7bf7357&amp;oe=5AEED483"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "401B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "29%"}]}}, {"result": {"format": "Compressing {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).", "args": [{"key": "URL", "type": "URL", "value": "https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-1/p50x50/547717_508727035831620_1510753120_n.jpg?oh=78856d9b2b4b50841acf560c44931f09&amp;oe=5AE80249"}, {"key": "SIZE_IN_BYTES", "type": "BYTES", "value": "390B"}, {"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "25%"}]}}]}], "ruleImpact": 0.4408000000000001, "summary": {"format": "Properly formatting and compressing images can save many bytes of data."}, "groups": ["SPEED"]}, "AvoidLandingPageRedirects": {"localizedRuleName": "Avoid landing page redirects", "ruleImpact": 0.0, "summary": {"format": "Your page has no redirects. Learn more about {{BEGIN_LINK}}avoiding landing page redirects{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/AvoidRedirects"}]}, "groups": ["SPEED"]}, "MinimizeRenderBlockingResources": {"localizedRuleName": "Eliminate render-blocking JavaScript and CSS in above-the-fold content", "urlBlocks": [{"header": {"format": "Approximately {{PERCENTAGE}} of the above-the-fold content on your page could be rendered without waiting for the following resources to load. Try to defer or asynchronously load blocking resources, or inline the critical portions of those resources directly in the HTML.", "args": [{"key": "PERCENTAGE", "type": "PERCENTAGE", "value": "2%"}]}}, {"header": {"format": "{{BEGIN_LINK}}Optimize CSS Delivery{{END_LINK}} of the following:", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery"}]}, "urls": [{"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css?ver=3.3.5"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://fonts.googleapis.com/css?family=Signika%3A400%2C300%2C600&amp;ver=4.9.2"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?ver=4.5.0"}]}}, {"result": {"format": "{{URL}}", "args": [{"key": "URL", "type": "URL", "value": "https://fonts.googleapis.com/css?family=Open+Sans&amp;ver=4.9.2"}]}}]}], "ruleImpact": 10.0, "summary": {"format": "Your page has {{NUM_CSS}} blocking CSS resources. This causes a delay in rendering your page.", "args": [{"key": "NUM_CSS", "type": "INT_LITERAL", "value": "4"}]}, "groups": ["SPEED"]}, "PrioritizeVisibleContent": {"localizedRuleName": "Prioritize visible content", "ruleImpact": 0.0, "summary": {"format": "You have the above-the-fold content properly prioritized. Learn more about {{BEGIN_LINK}}prioritizing visible content{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/PrioritizeVisibleContent"}]}, "groups": ["SPEED"]}, "MinifyJavaScript": {"localizedRuleName": "Minify JavaScript", "ruleImpact": 0.0, "summary": {"format": "Your JavaScript content is minified. Learn more about {{BEGIN_LINK}}minifying JavaScript{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}, "MinifyCss": {"localizedRuleName": "Minify CSS", "ruleImpact": 0.0, "summary": {"format": "Your CSS is minified. Learn more about {{BEGIN_LINK}}minifying CSS{{END_LINK}}.", "args": [{"key": "LINK", "type": "HYPERLINK", "value": "https://developers.google.com/speed/docs/insights/MinifyResources"}]}, "groups": ["SPEED"]}}, "locale": "en_US"}, "version": {"minor": 15, "major": 1}, "captchaResult": "CAPTCHA_NOT_NEEDED", "ruleGroups": {"SPEED": {"score": 85}}}}</p>
  </body>
</html>
